.popup-box {
  position: absolute;
  background: #6DA7D9;
  width: 60%;
  top: 10%;
  left: 20%;
  border-radius: 8px;
  box-shadow: 2px 2px 100px;
  box-sizing: border-box;
  z-index: 5;
  overflow: auto;
  padding: 2em;
  }
.icon-header{
  position: absolute;
  left: 95%;
  top: 1%;
}
.close-icon {
  content: 'x';
  cursor: pointer;
  background: #ededed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.submit-icon {
  content: 'submit';
  cursor: pointer;
  background: #ededed;
  width: 100px;
  height: 30px;
  border-radius: 10%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.popup-content{
  position: relative;
  top: 10%;
  justify-content: center;
  text-align: center;
}
.button-format button{
  margin: 2em;
}
.text-styles{
  position: relative;
  left: 3%;
  text-align: left;
  width: 800px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-content>span{
  display: block;
  font-size: 1.6em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}