#Home {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

#TitleBorder {
    width: 300px;
    border: solid #002145 2px;
    background-color: #FFFFFF;
    text-align: center;
    color: #002145;
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    ;
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#Start {
    width: 180px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

#MiddleButton {
    width: 180px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: -5px;
    font-weight: 100;
    border-radius: 8px;
    position: absolute;
    top: 57.5%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.button-type3 {
    background-color: #6EC4E8;
    color: #002145;
    margin: 5px 5px;
}

#Resources {
    width: 180px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: -5px;
    font-weight: 100;
    border-radius: 8px;
    position: absolute;
    top: 65%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.button-type4 {
    background-color: #002145;
    color: #FFFFFF;
    border: 1px #002145 solid;
    margin: 5px 5px;
}

#Rectangle {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: #97D4E9;
    border-radius: 8px;
    border: 2px solid #002145;
}

#RectangleMid {
    position: relative;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background: #0055B7;
    border-radius: 8px;
    border: 2px solid #002145;
}