#Home{
    background-color: #F7E7D0;
    width: 100%;
    height: 100%;
}

#TitleBorder {
    width: 300px;
    border: solid #14223C 2px;
    background-color: #F7E7D0;
    text-align: center ;
    color: #14223C;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    box-shadow: 5px 5px #FDCE27;
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#StartButton {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    box-sizing: border-box;
    background-color: #FDCE27;
    width: 180px;
    height: 50px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 8px;
}
#Start {
    width: 180px;
    border: none;
    background-color:transparent ;
    text-align: center ;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
#ResourcesButton{
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    box-sizing: border-box;
    background-color: #14223C;
    width: 180px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 8px;
}
#Resources{
    width: 180px;
    border: none;
    background-color:transparent ;
    text-align: center ;
    font-family: 'Roboto', sans-serif;
    line-height: -5px;
    font-weight: 100;
    border-radius: 8px;
    position: absolute;
    top: 65%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
#Rectangle{
        position: absolute;
        width:80%;
        height:80%;
        top: 10%;
        left: 10%;
        background:#14223C;
        border-radius: 8px;
}
#RectangleMid{
    position: relative;
    width:60%;
    height:60%;
    left: 20%;
    top: 20%;
    background:#6DA7D9;
    border-radius: 8px;
}
