#Land{
    background-color:#FFFFFF;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#HeaderBorder {
    width: 350px;
    padding: 0px 20px;
    border: solid #002145 2px;
    background-color: #FFFFFF;
    text-align: center ;
    color: #0055b7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 6px;
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#SubBorder {
    width: 500px;
    padding: 10px;
    text-align: center;
    color: #002145;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#Begin{
    color: #0055b7;
    border: none;
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
