body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.button-type1-button {
    background-color: #C4C4C4;
    border: solid #002145 2px;
    font-family: inherit;
    width: 150px;
    position: fixed;
    top: 5%;
    left: 4%;
}

#Header {
    width: 400px;
    height: 90px;
    border: solid #002145 2px;
    background-color: #97D4E9;
    text-align: center;
    color: #002145;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    position: absolute;
    top: 9%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#Subtitle {
    width: 1100px;
    height: 75px;
    text-align: center ;
    color: #002145;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 27%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a:link {
    color: black;
    text-decoration: none;
}
  
a:hover:visited {
    color: #ad4c4c;
}

a:active:visited {
    color: #354e7c;
}
a:visited{
    color: black;
}

#Checklist {
    width: 300px;
    height: 300px;
    padding: 100px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
    text-align: center ;
    font-size: 12px;
    border: solid #002145 2px;
    border-radius: 5px;
    background-color: #00A7E1;
    position: absolute;
    top: 41%;
    left: 8%;
}

#Compiled {
    width: 300px;
    height: 300px;
    padding: 90px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002145; 
    text-align: center ;
    font-size: 12px;
    border: solid #002145 2px;
    border-radius: 5px;
    background-color: #97D4E9;
    position: absolute;
    top: 41%;
    left: 38%;
}

#Addressing {
    width: 300px;
    height: 300px;
    padding: 90px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
    text-align: center ;
    font-size: 12px;
    border: solid #002145 2px;
    border-radius: 5px;
    background-color: #00A7E1;
    position: absolute;
    top: 41%;
    left: 68%;
}