body {
    background-color: #14223C;
    font-family: 'Roboto', sans-serif;
}

.button-type1 {
    background-color: #C4C4C4;
    border: solid #14223C 2px;
    font-family: inherit;
    width: 150px;
    box-shadow: 3px 3px #FDCE27;
    position: fixed;
    top: 5%;
    left: 4%;
}

#Header {
    width: 200px;
    height: 50px;
    border: solid #14223C 2px;
    background-color: #6DA7D9;
    text-align: center ;
    color: #14223C;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 5px 5px #F7E7D0;
    position: absolute;
    top: 9%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#Subtitle {
    width: 1100px;
    height: 75px;
    border: solid #14223C 2px;
    background-color: #FDCE27;
    text-align: center ;
    color: #14223C;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 5px 5px #6DA7D9;
    position: absolute;
    top: 27%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a:link {
    color: black;
  }
  
a:hover {
    color: #ad4c4c;
  }

a:active {
    color: #354e7c;
  }

#Checklist {
    width: 300px;
    height: 300px;
    padding: 100px 30px;
    font-family: 'Roboto', sans-serif;
    color: black; 
    text-align: center ;
    font-size: 12px;
    border: solid #0f1013 2px;
    border-radius: 5px;
    background-color: #6DA7D9;
    box-shadow: 7px 7px #FDCE27;
    position: absolute;
    top: 41%;
    left: 8%;
}

#Compiled {
    width: 300px;
    height: 300px;
    padding: 90px 30px;
    font-family: 'Roboto', sans-serif;
    color: black; 
    text-align: center ;
    font-size: 12px;
    border: solid #0f1013 2px;
    border-radius: 5px;
    background-color: #F7E7D0;
    box-shadow: 7px 7px #5194CF;
    position: absolute;
    top: 41%;
    left: 38%;
}

#Addressing {
    width: 300px;
    height: 300px;
    padding: 90px 30px;
    font-family: 'Roboto', sans-serif;
    color: black; 
    text-align: center ;
    font-size: 12px;
    border: solid #0f1013 2px;
    border-radius: 5px;
    background-color: #FDCE27;
    box-shadow: 7px 7px #F7E7D0;
    position: absolute;
    top: 41%;
    left: 68%;
}