.outlineBackground {
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh;
    width: 5500px;
    height: 6800px;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    text-align: right;
    background: #938686;
    background-color: rgba(59, 93, 129, 0.9);
    padding: 150px 150px;
    border-radius: 100px;
    font-size: 200px;
    color: white;
}

.pageBackground {
    text-align: center;
    background-color: #3B5D81;
    height: 6600px;
    font-size: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-color: #F7CA18;
}

.buttonCSS {
    background-color: white;
    border-radius: 30px;
    width: 4000px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-block-color: lemonchiffon;
    font-size: 200px !important;
}

.buttonFeedback {
    background-color: #F7CA18;
    border-radius: 30px;
    width: 4000px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-block-color: lemonchiffon;
    font-size: 200px !important;
}

.buttonCSS:hover {
    background-color: darkgrey;
}

.buttonFeedback:hover {
    background-color: yellow;
}