#assessment-page.sideMenuBackground
{
    width: min-content;
    height: min-content;
}

.assessment-page-inner-box{
    box-shadow: inset 0 0 0 10px #F7CA18;
    border-radius: 10px;
    background-color: white;
}

.assessment-page-inner-box>p{
    margin: 0px;
    padding: 0px;
    color: black;
}

.transcript-container{
    padding: 10px;
    height: min-content;
    max-height: 200px;
    overflow-y: scroll;
    border: 5px solid  #F7CA18;
    border-radius: 10px;
    font-size: 1rem;

}
#error-text
{
    color: red;
    white-space: nowrap;
}
.full-transcript-container{
    height: min-content;
    overflow-y: scroll;
}

.full-transcript-container>p{
    color: black;
    font-size: 1rem;
}

#vis-lineplot
{
    border: 5px solid  #F7CA18;
    border-radius: 10px;
}

/* Tooltip */
#lineplot-tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: 400;
    padding: 2px 8px;
}
.lineplot-tooltip-label {
    color: #000;
    font-size: 15px;
    white-space: nowrap;
}

.full-transcript-container{
    padding: 10px;
    height: max-content;
    max-height: 400px;
    overflow-y: scroll;
    border: 5px solid  #F7CA18;
    border-radius: 10px;
    font-size: 1rem;
}

.domain{
    color: black;
}

.tick{
    color: black;
}

/* Line plot */
circle{
    fill: #F7CA18;
}

circle:hover{
    fill: #5c4c0d;
}

circle.hovered
{
    fill: #5c4c0d;
    stroke: #000;
}

.pointer>circle{
    fill: green;
}

.graph-controls>input {
    width: 50%;
    cursor: grab;
}

.graph-controls>input::-webkit-slider-thumb {
    cursor: grabbing;
}

.graph-controls>input::-moz-range-thumb {
    cursor: grabbing;
}

.graph-controls {
    margin-bottom: 10px;
}