.inner-box{
    box-shadow: inset 0 0 0 10px #F7CA18;
    border-radius: 10px;
    background-color: white;
}

.inner-box>p{
    margin: 0px;
    padding: 0px;
    color: black;
}

.transcript-container{
    padding: 10px;
    height: min-content;
    max-height: 150px;
    overflow-y: scroll;
    border: 5px solid  #F7CA18;
    border-radius: 10px;
    font-size: 1rem;

}

.full-transcript-container{
    height: min-content;
    overflow-y: scroll;
}

.full-transcript-container>p{
    color: black;
    font-size: 1rem;
}


.graph-container{
    border: 5px solid  #F7CA18;
    border-radius: 10px;
}

.full-transcript-container{
    padding: 10px;
    height: min-content;
    max-height: 150px;
    overflow-y: scroll;
    border: 5px solid  #F7CA18;
    border-radius: 10px;
    font-size: 1rem;
}

.domain{
    color: black;
}

.tick{
    color: black;
}

circle{
    fill: #F7CA18;
}

.pointer>circle{
    fill: green;
}

#svgpath{
    stroke: #F7CA18;
}